<?xml version="1.0" encoding="ISO-8859-1" ?>

<web-app xmlns="http://java.sun.com/xml/ns/j2ee"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd"
    version="2.4">

    <distributable/>
    <display-name>Equinox</display-name>
    <description>Equinox</description>

    <servlet>
 		<servlet-name>cms</servlet-name> 
		<servlet-class>com.guavus.equinox.utils.MyServlet</servlet-class> 
		<description>This servlet handles requests for the CMS (it is a controller in an MVC architecture)</description> 
    </servlet>
    <servlet>   
                <servlet-name>launcher</servlet-name>
                <servlet-class>com.guavus.equinox.launch.EquinoxLauncher</servlet-class>
                <description>This servlet handles requests for the CMS (it is a controller in an MVC architecture)</description>
    </servlet> 

    <servlet-mapping> 
		<servlet-name>cms</servlet-name> 
		<url-pattern>/doc/completeUrl</url-pattern>         
    </servlet-mapping> 

    <servlet-mapping>
                <servlet-name>launcher</servlet-name>
                <url-pattern>/equinox</url-pattern>
    </servlet-mapping>
    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
        <welcome-file>index.htm</welcome-file>
    </welcome-file-list>

   
</web-app>     
