<configuration>
	<include resource="solutions-logback.xml" />
	<!-- SYNCHRONOUS APPENDERS -->

	<appender name="FILE_LOG" class="org.apache.log4j.DailyRollingFileAppender">
		<param name="File" value="${catalina.base}/bin/acume.log" />
		<param name="DatePattern" value="'.'yyyy-MM-dd" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="[%p] %d %c %M - %m%n" />
		</layout>
	</appender>

	<appender name="BLAZEDS" class="org.apache.log4j.DailyRollingFileAppender">
		<param name="File" value="${catalina.base}/bin/blazeds.log" />
		<param name="DatePattern" value="'.'yyyy-MM-dd" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="[%p] %d %c %M - %m%n" />
		</layout>
	</appender>
	
	<appender name="FLEX" class="org.apache.log4j.DailyRollingFileAppender">
		<param name="File" value="${catalina.base}/bin/flex.log" />
		<param name="DatePattern" value="'.'yyyy-MM-dd" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="[%p] %d %c %M - %m%n" />
		</layout>
	</appender>

	<appender name="FILE_REQ_RES_LOG" class="org.apache.log4j.DailyRollingFileAppender">
		<param name="File" value="${catalina.base}/bin/acume-req-res.log" />
		<param name="DatePattern" value="'.'yyyy-MM-dd" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="[%p] %d %c %M - %m%n" />
		</layout>
	</appender>

	<appender name="SYSLOG" class="org.apache.log4j.net.SyslogAppender">
		<param name="syslogHost" value="localhost:514" />
		<param name="facility" value="LOCAL0" />
	</appender>

	<!-- ASYNCHRONOUS APPENDERS, which refer to SYNCHRONOUS APPENDERS -->

	<appender name="ASYNC_FILE_LOG" class="org.apache.log4j.AsyncAppender">
		<appender-ref ref="FILE_LOG" />
	</appender>
	<appender name="ASYNC_BLAZEDS" class="org.apache.log4j.AsyncAppender">
		<appender-ref ref="BLAZEDS" />
	</appender>
	<appender name="ASYNC_FLEX" class="org.apache.log4j.AsyncAppender">
		<appender-ref ref="FLEX" />
	</appender>
	<appender name="ASYNC_JGROUPS_LOG" class="org.apache.log4j.AsyncAppender">
		<appender-ref ref="JGROUPS_LOG" />
	</appender>
	<appender name="ASYNC_FILE_REQ_RES_LOG" class="org.apache.log4j.AsyncAppender">
		<appender-ref ref="FILE_REQ_RES_LOG" />
	</appender>
	<appender name="ASYNC_SYSLOG" class="org.apache.log4j.AsyncAppender">
		<appender-ref ref="SYSLOG" />
	</appender>

	<!-- LOGGERS, should use ASYNCHRONOUS APPENDERS to avoid bottlenecks in 
		logging -->

	<logger name="API-com.guavus.rubix.query.remote.flex.RubixService"
		level="$CLI_REPLACE_REQUESTRESPONSELOGGINGLEVEL$">
		<appender-ref ref="ASYNC_FILE_REQ_RES_LOG" />
	</logger>
	<logger name="flex" level="$CLI_REPLACE_FLEXLOGGINGLEVEL$"
		additivity="false">
		<appender-ref ref="ASYNC_FLEX" />
	</logger>
	<logger name="blazeds" level="$CLI_REPLACE_BLAZEDSLOGGINGLEVEL$"
		additivity="false">
		<appender-ref ref="ASYNC_BLAZEDS" />
	</logger>
	<logger name="org.jgroups.protocols" level="$CLI_REPLACE_JGROUPSLOGGINGLEVEL$">
		<appender-ref ref="ASYNC_FILE_LOG" />
	</logger>
	<logger name="com.mchange.v2.c3p0" level="$CLI_REPLACE_C3P0LOGGINGLEVEL$">
		<appender-ref ref="ASYNC_FILE_LOG" />
	</logger>
	<logger name="API-com.guavus.rubix.user.management.login.HttpLoginService"
		level="$CLI_REPLACE_ROOTLOGGINGLEVEL$">
		<appender-ref ref="ASYNC_SYSLOG" />
	</logger>
	<logger
		name="API-com.guavus.rubix.user.management.service.UserManagementService"
		level="$CLI_REPLACE_ROOTLOGGINGLEVEL$">
		<appender-ref ref="ASYNC_SYSLOG" />
	</logger>

	<root>
		<level value="INFO" />
		<appender-ref ref="ASYNC_FILE_LOG" />
		<appender-ref ref="SYSLOG" />
	</root>
</configuration>
